<mat-list-item  (click)="onItemSelected(item)">
    <div class="item-content"> <!-- Contenedor para alinear verticalmente -->
        <div class="left">
            <mat-icon [ngStyle]="{'padding-left': (depth * 5) + 'px'}" class="route-icon">
                {{item.Icono?item.Icono:depth>0?'view_stream':'view_list'}}
            </mat-icon>
            
            <span class="display-name">{{item.Nombre | translate}}</span> 
        </div>
        @if (item.Opciones && item.Opciones.length) {
        <span class="arrow-container" >
            <mat-icon [@indicatorRotate]="expanded ? 'expanded': 'collapsed'">
                expand_more
            </mat-icon>
        </span>
        }
    </div>
</mat-list-item>

@if (expanded) {
<div class="separator" [@slideDown]></div>
<div class="sub-menu" [@slideDown]>
    @for (
    child of item.Opciones; track $index) {
    <ng-uui-menu  [item]="child" [depth]="depth+1">
    </ng-uui-menu>
    }

</div>
}