@if (item.TipoOpcion === 'Menú') {
  <mat-list-item (click)="onItemSelected(item)">
    <div class="item-content">
      <div class="left">
        <mat-icon
          [ngStyle]="{ 'padding-left': (depth * 5) + 'px' }"
          class="route-icon"
        >
          {{ item.Icono ? item.Icono : depth > 0 ? 'view_stream' : 'view_list' }}
        </mat-icon>

        <span class="display-name">
          {{ item.Nombre | translate }}
        </span>
      </div>

      @if (hasMenuChildren(item)) {
        <span class="arrow-container">
          <mat-icon [@indicatorRotate]="item.expanded ? 'expanded' : 'collapsed'">
            expand_more
          </mat-icon>
        </span>
      }
    </div>
  </mat-list-item>

  @if (item.expanded && select && hasMenuChildren(item)) {
    <div class="separator" [@slideDown]></div>

    <div class="sub-menu" [@slideDown]>
      @for (child of getMenuChildren(item); track $index) {
        <ng-uui-menu
          [item]="child"
          [depth]="depth + 1">
        </ng-uui-menu>
      }
    </div>
  }
}