
:host {
    display: block;
    outline: none;
}

:host .mat-list-item.active {
    background-color: var(--color100);
    color: var(--primary);
}

:host:hover > .mat-list-item:not(.expanded),
:host:focus > .mat-list-item:not(.expanded) {
    background-color: var(--color100) !important;
    color: var(--primary);
}

.mat-list-item.active {
    background-color: var(--color100);
    color: var(--primary);
}

.mat-list-item {
    padding: 0 0;
    background-color: var(--primary);
    color: var(--color100);
    font-family: "Open Sans";
    font-size: 1em;
}

.mat-list-item-content {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.mat-list-item .display-name {
    width: 34ex;
    padding-left: 15px ;
}

@media screen and (max-width: 425px) {
    .mat-list-item .display-name {
        width: 75vw;
    }
}

.item-content {
    display: flex;
    align-items: center; /* Alinear verticalmente el contenido del ítem */
    justify-content: space-between;
    margin-top: 13px; /* Agrega más espacio arriba del ítem */
    margin-bottom: 13px; /* Agrega más espacio debajo del ítem */
    transition: all 1s; /* Agrega transición para el hover */
}


.arrow-container {
    display: flex;
    align-items: center; /* Alinear verticalmente las flechas */
}

.sub-menu {
    padding-left: 20px; /* Ajusta este valor según sea necesario */
    position: relative; /* Agrega posición relativa para que los íconos de flecha se posicionen correctamente */
}


.left {
    display: flex;
    align-items: left; /* Alinear verticalmente el contenido del ítem */
    justify-content: space-between;
}

.separator {
    width: 100%;
    height: 1px;
    background-color: white;
    margin: 5px 0;
}