<div class="sidebar-container" [@sidebarAnimation]="sidebarAnimation">
  <mat-nav-list role="list">
    @for (item of navItems; track $index) {
    <ng-uui-menu [item]="item" ></ng-uui-menu>
    }
  </mat-nav-list>
  <!-- <ul>
    <li>
      <a routerLink="/datos/list-solicitudes-estudiante" routerLinkActive="active">list-solicitudes-estudiante</a>
    </li>
    <li>
      <a routerLink="/datos/ver-solicitudes" routerLinkActive="active">ver-solicitudes</a>
    </li>
    <li>
      <a routerLink="/espacios-academicos" routerLinkActive="active">espacios-academicos</a>
    </li>
  </ul> -->
</div>