@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Variable.ttf');
    font-weight: 100 900;
}

body {
    font-family: 'Open Sans', sans-serif;
}

// CLASE PARA TEXTOS
.text-normal {
    font-weight: 400;
}

.text-semibold {
    font-weight: 600;
}

.text-bold {
    font-weight: 700;
}